build
debugpy
equinox
jax>=0.4.14
jaxtyping
matplotlib
nbclassic
notebook
optax
pandas
pyright
scikit-learn
tensorboard
tensorboardX
torch
torchvision
tqdm
twine
typeguard
git+file://../jo3util
git+https://github.com/kiyoon/jupynium.nvim@v0.2.1
git+https://github.com/JJJHolscher/jupytools
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
-f https://download.pytorch.org/whl/cu118
