argtoml[save]
build
debugpy
equinox==0.10.2
jax
jaxtyping
jo3mnist
jo3util
matplotlib
optax
pandas
pyright
scikit-learn
tensorflow
torch
torchvision
tqdm
twine
typeguard
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
--extra-index-url https://download.pytorch.org/whl/cpu
eqxvision
opencv-python
